
*{
    box-sizing: border-box;
    font-family: 'segoe ui', 'calibri', sans-serif;
}
body,
h1,
h2,
h3,
.menu.active {
    max-height: 600px;
}
.menu
{
    margin: 0;
    background-color: rgb(158, 158, 177);
    max-height: 0;
    overflow: hidden;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(to right, #613, rgb(148, 125, 117));
}